<header class="miracle-header-background">
  <div class="miracle-header">
    <div class="miracle-header__headline">
      <h1 class="mat-h1">奇迹女孩</h1>
      <h2>奇迹点亮生活，开启你的定制之旅</h2>
    </div>
    <div class="miracle-header__start">
      <a md-raised-button>开始</a>
    </div>
  </div>
</header>
<div class="homepage-promotion">
  <div class="homepage-row">
    <md-card>
      <img src="assets/personal.jpg" md-card-image/>
      <md-card-content>
        <h2>个人定制</h2>
        <p>选一束属于自己的鲜花</p>
      </md-card-content>
    </md-card>

    <md-card>
      <img src="assets/family.jpg" md-card-image/>
      <md-card-content>
        <h2>家庭聚会</h2>
        <p>选一束属于自己的鲜花</p>
      </md-card-content>
    </md-card>

    <md-card>
      <img src="assets/company.jpg" md-card-image/>
      <md-card-content>
        <h2>企业活动</h2>
        <p>选一束属于自己的鲜花</p>
      </md-card-content>
    </md-card>
  </div>
</div>